:root {
    --header-height: 70px;
    --header-bg: #f8f9fa;
    --sidebar-width: 70px;
    --sidebar-lg: 150px;
    --light-green: #8cd06d;
    --dark-green: #00ae51;
    --search-color: #e5e5e5;
    --content-bg: #f8f9fa;

}

img {
    max-width: 100%;
    display: block;
}

a {
    color: currentColor;
    text-decoration: none;
}


body {
    height: 100vh;
    display: flex;
}

.wrapper {
    flex-grow: 1;
	display: flex;
    flex-direction: column;
}

/* HEADER */

#main-header {
    height: var(--header-height);
    background-color: var(--header-bg);
    padding: 15px 0;
}

.wrap {
    flex-wrap: nowrap !important;
}

.navbar-brand img{
    width: 50px;
}

.icon-search,
.search-input {
    background-color: var(--search-color);
}

.bell {
    color: #ff8f00;
}

.dropdown-toggle {
    background-color: white;
}


.dropdown-toggle::after {
    display: none;
}

/* RESPOSIVE */

@media all and (min-width: 778px) {
    .navbar-brand img{
        width: 70px;
    }
}


/* MAIN */

#main-content {
    overflow: hidden;
}

.main-sidebar {
    width: var(--sidebar-width);
    height: calc 100vh - var(--header-height);
    background-color: var(--dark-green);
    background-image: url(../img/sidebar-bg.png);

}

.sidebar-nav {
    padding: 30px 10px;
    height: 100%;
}

.main-sidebar .nav-item {
    padding: 10px;
}

.main-sidebar .nav-item:hover {
    background-color: rgba(255, 255, 255, 0.5);
   
}


.br__nav-link {
    align-items: center;
    justify-content: center;
}


.br__nav-link > i {
    flex-basis: 20px;
    text-align: center;
}


/* RESPONSIVE */

@media all and (min-width: 768px) {

    .main-sidebar {
        width: var(--sidebar-lg);
    }

    .br__nav-link {
        justify-content: start;
    }

}

/* CONTENT */

.content {
    flex-grow: 1;
    background-color: var(--content-bg); 
    overflow-y: auto;
}

/* CONTENT-HEADER */

.content-header {
    background-color: var(--light-green);
    padding-top: 20px;
}

.br__card {
    padding-bottom: 1.5rem;
}

.add-button {
    margin-left: 10px;
}

.overwiev-title {
    font-size: 16px;
}

.overwiev-body {
    font-size: 33px;
}

.badge {
    font-size: 12px;
    font-weight: 400;
}

/* OFFCANVAS */

.offcanvas {

    --bs-offcanvas-width: 800px;
}

.offcanvas-body {
    --bs-offcanvas-padding-y: 0.5rem;
}

/* CONTENT BODY */

.content-body {
    padding: 20px 0;
}

.avatar {
    width: 34px;
}

.name-col {
    width: 55%;
}

.content-body .badge,
.todo-list,
tbody,
.card,
.card .accordion-button {
    font-size: 12px;
}

.btn > .edit,
.btn > .delete {
    font-size: 12px;
    padding: 4px 6px;
}

table td,
table th:not(.name-col) {
    text-align: center;
}

.card-img-top {
    width: 520px;
}

.card-link {
    color: var(--dark-green);
    text-decoration: underline;
}