:root {
    --header-height: 70px;
    --header-bg: #f8f9fa;
    --sidebar-width: 70px;
    --sidebar-lg: 150px;
    --light-green: #8acf6b;
    --dark-green: #00ae51;

}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* HEADER */

#main-header {
    height: var(--header-height);
    background-color: var(--header-bg);
}

.wrapper {
    flex-wrap: nowrap !important;
}

.dropdown-toggle::after {
    display: none;
}

#main-header .navbar .navbar-toggler-icon {
    --bs-navbar-toggler-icon-bg: none;
}

/* MAIN */

#main-content {
    flex-grow: 1;
}

.main-sidebar {
    width: var(--sidebar-width);
    background-color: var(--dark-green);
    background-image: url(../img/sidebar-bg.png);
    overflow: hidden;
}

.content {
    flex-grow: 1;
    overflow-y: auto;
}

/* RESPONSIVE */

@media all and (min-width: 768px) {

    .main-sidebar {
        width: var(--sidebar-lg);
    }
    

}